<div class="w-full m-9 flex justify-center">
  <mat-button-toggle-group [(ngModel)]="groupValue" [ngModelOptions]="{standalone: true}" (change)="changeView(groupValue)">
    <mat-button-toggle value="today">Ações de hoje</mat-button-toggle>
    <mat-button-toggle value="all">Todas as ações</mat-button-toggle>
    <mat-button-toggle value="simulator">Simulador</mat-button-toggle>
    <mat-button-toggle value="blog">Blog</mat-button-toggle>
    <mat-button-toggle *ngIf="user.is_admin" value="stocksManager">Gerenciar ações</mat-button-toggle>
    <mat-button-toggle *ngIf="user.is_admin" value="blogManager">Gerenciar blog</mat-button-toggle>
  </mat-button-toggle-group>
  <button mat-raised-button class="self-center ml-6" (click)="minhaConta()">Minha conta</button>
  <button mat-raised-button class="self-center ml-6" color="warn" (click)="sair()">Sair</button>
</div>

<div *ngIf="viewStocks" class="m-6 flex flex-row flex-wrap justify-center">
  <app-stock-card *ngFor="let stock of stocks" [stock]="stock"></app-stock-card>
</div>

<div *ngIf="viewSimulator" class="m-12 flex flex-row flex-wrap justify-center gap-20">
  <mat-card>
    <mat-card-content>
      <form class="flex flex-col">
        <mat-form-field class="w-96">
          <mat-label>Selecione uma ação</mat-label>
          <mat-select #selectStockSimulation>
            <mat-option *ngFor="let stock of stocks" value="{{stock.id}}">
              <b>{{stock.name}}</b> | {{stock.price | currency: 'BRL'}} | {{stock.variation}}%
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="w-96">
          <mat-label>Dias</mat-label>
          <input matInput #daysStockSimulation>
        </mat-form-field>

        <span *ngIf="showMessageSimulator" class="mb-4 self-center w-96">
          Em <b>{{simulation.dias}} dias</b>, esse investimento vai valer <b>{{simulation.simulacao | currency: 'BRL'}}</b>
          e é considerado <b>{{simulation.sera}}</b>.
        </span>

        <button mat-raised-button
                color="primary"
                type="submit"
                class="w-1/3 self-center"
                (click)="doSimulation(
                selectStockSimulation.value,
                daysStockSimulation.value)"
                [disabled]="isLoading">Simular</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>

<div *ngIf="viewBlog" class="m-8 flex flex-col flex-wrap justify-center">
  <mat-card *ngFor="let n of news" class="m-4 w-1/2 self-center">
    <mat-card-header class="mb-4">
      <mat-card-title class="text-xl font-medium">{{n.titulo}}</mat-card-title>
    </mat-card-header>

    <mat-divider></mat-divider>

    <mat-card-content class="mt-4 first-letter:text-7xl first-letter:font-bold first-letter:mr-3 first-letter:float-left whitespace-pre-line">
      {{n.descricao}}
    </mat-card-content>
  </mat-card>
</div>

<div *ngIf="viewStocksManager" class="m-12 flex flex-row flex-wrap justify-center gap-20">
  <mat-accordion>
    <div class="mb-3 text-xl font-medium text-center">Lista de ações</div>
    <mat-expansion-panel *ngFor="let stock of stocks">
      <mat-expansion-panel-header>
        <mat-panel-title class="font-medium">
          {{stock.name}}
        </mat-panel-title>
        <mat-panel-description>
          <p>{{stock.date}}</p>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <form class="flex flex-col">
        <mat-form-field class="w-96">
          <mat-label>Nome</mat-label>
          <input matInput #nameUpdateInput value="{{stock.name}}">
        </mat-form-field>

        <mat-form-field class="w-96">
          <mat-label>Preço</mat-label>
          <input matInput #priceUpdateInput type="number" value="{{stock.price}}">
        </mat-form-field>

        <mat-form-field class="w-96">
          <mat-label>Variação</mat-label>
          <input matInput #variationUpdateInput type="number" value="{{stock.variation}}">
        </mat-form-field>

        <mat-form-field class="w-96">
          <mat-label>Data</mat-label>
          <input matInput #dateUpdateInput value="{{stock.date}}">
        </mat-form-field>

        <div class="flex justify-between">
          <button mat-raised-button
                  color="primary"
                  type="submit"
                  (click)="updateStock(stock.id,
                  nameUpdateInput.value,
                  priceUpdateInput.value,
                  variationUpdateInput.value,
                  dateUpdateInput.value)"
                  [disabled]="isLoading">Atualizar</button>
          <button mat-button
                  color="warn"
                  type="reset"
                  (click)="deleteStock(stock.id)"
                  [disabled]="isLoading"><b>Excluir</b></button>
        </div>
      </form>
    </mat-expansion-panel>
  </mat-accordion>

  <div>
    <div class="mb-3 text-xl font-medium text-center">Adicionar ação</div>
    <mat-card>
      <mat-card-content>
        <form class="flex flex-col">
          <mat-form-field class="w-96">
            <mat-label>Nome</mat-label>
            <input matInput #nameCreateInput>
          </mat-form-field>

          <mat-form-field class="w-96">
            <mat-label>Preço</mat-label>
            <input matInput #priceCreateInput type="number">
          </mat-form-field>

          <mat-form-field class="w-96">
            <mat-label>Variação</mat-label>
            <input matInput #variationCreateInput type="number">
          </mat-form-field>

          <mat-form-field class="w-96">
            <mat-label>Data</mat-label>
            <input matInput #dateCreateInput>
          </mat-form-field>

          <span class="mb-4 self-center">{{messageCreate}}</span>

          <button mat-raised-button
                  type="submit"
                  color="primary"
                  class="w-1/3 self-center"
                  (click)="createStock(
                  nameCreateInput.value,
                  priceCreateInput.value,
                  variationCreateInput.value,
                  dateCreateInput.value)"
                  [disabled]="isLoading">Adicionar</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div *ngIf="viewBlogManager" class="m-12 flex flex-row flex-wrap justify-center gap-20">
  <mat-accordion>
    <div class="mb-3 text-xl font-medium text-center">Lista de notícias</div>
    <mat-expansion-panel *ngFor="let n of news">
      <mat-expansion-panel-header>
        <mat-panel-title class="font-medium w-96">
          {{n.titulo}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <form class="flex flex-col">
        <mat-form-field class="w-96">
          <mat-label>Título</mat-label>
          <input matInput #titleUpdateInput value="{{n.titulo}}">
        </mat-form-field>

        <mat-form-field class="w-96">
          <mat-label>Descrição</mat-label>
          <textarea matInput #descriptionUpdateInput value="{{n.descricao}}"></textarea>
        </mat-form-field>

        <div class="flex justify-between w-96">
          <button mat-raised-button
                  type="submit"
                  color="primary"
                  (click)="updateNews(n.id,
                  titleUpdateInput.value,
                  descriptionUpdateInput.value)"
                  [disabled]="isLoading">Atualizar</button>
          <button mat-button
                  color="warn"
                  type="reset"
                  (click)="deleteNews(n.id)"
                  [disabled]="isLoading"><b>Excluir</b></button>
        </div>
      </form>
    </mat-expansion-panel>
  </mat-accordion>

  <div>
    <div class="mb-3 text-xl font-medium text-center">Adicionar notícia</div>
    <mat-card>
      <mat-card-content>
        <form class="flex flex-col">
          <mat-form-field class="w-96">
            <mat-label>Título</mat-label>
            <input matInput #titleCreateInput>
          </mat-form-field>

          <mat-form-field class="w-96">
            <mat-label>Descrição</mat-label>
            <textarea matInput #descriptionCreateInput></textarea>
          </mat-form-field>

          <span class="mb-4 self-center">{{messageCreate}}</span>

          <button mat-raised-button
                  type="submit"
                  color="primary"
                  class="w-1/3 self-center"
                  (click)="createNews(
                  titleCreateInput.value,
                  descriptionCreateInput.value)"
                  [disabled]="isLoading">Adicionar</button>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<div *ngIf="viewMinhaConta" class="m-12 flex flex-row flex-wrap justify-center gap-20">
  <mat-card class="place-self-center self-center">
    <mat-card-content>
      <form class="flex flex-col">
        <div class="mb-3 text-xl font-medium">Minha Conta</div>

        <mat-form-field class="w-96">
          <mat-label>Nome</mat-label>
          <input matInput #nome value="{{user.nome}}">
        </mat-form-field>

        <mat-form-field class="w-96">
          <mat-label>E-mail</mat-label>
          <input matInput #email value="{{user.email}}">
        </mat-form-field>

        <mat-form-field class="w-96">
          <mat-label>Senha</mat-label>
          <input matInput #senha value="{{user.senha}}">
        </mat-form-field>

        <mat-checkbox
          class="place-self-start mb-4"
          [(ngModel)]="user.is_admin"
          [ngModelOptions]="{standalone: true}"
          [color]="'primary'"
          [disabled]="true">Administrador</mat-checkbox>

        <span class="mb-4 self-center">{{messageUpdateUser}}</span>

        <div class="flex justify-between">
          <button mat-raised-button
                  type="submit"
                  color="primary"
                  (click)="updateUser(nome.value,
                  email.value,
                  senha.value)"
                  [disabled]="isLoading">Atualizar Dados</button>
          <button mat-button
                  color="warn"
                  (click)="viewDeletarConta = !viewDeletarConta"
                  [disabled]="isLoading"><b>Excluir Conta</b></button>
        </div>

        <div *ngIf="viewDeletarConta" class="w-96 mt-6 grid grid-rows-2">
          <span class="mb-2">Tem certeza que deseja excluir a conta? <b>Essa ação é irreversível.</b></span>
          <div class="flex justify-center">
            <button mat-stroked-button
                    class="mr-4" color="warn"
                    (click)="deleteUser(user.id)"><b>Sim</b></button>
            <button mat-stroked-button
                    class="ml-4"
                    color="primary"
                    (click)="viewDeletarConta = !viewDeletarConta"><b>Não</b></button>
          </div>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
