<div class="w-full p-6 flex justify-center">
  <mat-button-toggle-group #group="matButtonToggleGroup" (change)="fetchStocks()">
    <mat-button-toggle value="today">Ações de hoje</mat-button-toggle>
    <mat-button-toggle value="all">Todas as ações</mat-button-toggle>
    <mat-button-toggle value="simulator">Simulador</mat-button-toggle>
    <mat-button-toggle value="blog">Blog</mat-button-toggle>
  </mat-button-toggle-group>
</div>

<div class="w-full p-6 xl:inline-grid xl:grid-cols-4">
    <app-stock-card *ngFor="let stock of stocks" [stock]="stock"></app-stock-card>
</div>
