<div *ngIf="viewLogin" class="flex mt-9 justify-center content-center">
  <mat-card class="place-self-center self-center">
    <mat-card-content>
      <form class="flex flex-col items-center">
        <div class="mb-3 text-xl font-medium">Login</div>
        <mat-form-field class="w-96" color="warn">
          <mat-label>E-mail</mat-label>
          <input matInput #loginEmail placeholder="exemplo@email.com" />
        </mat-form-field>

        <mat-form-field class="w-96" color="warn">
          <mat-label>Senha</mat-label>
          <input matInput #loginSenha type="password" />
        </mat-form-field>

        <span class="mb-4 self-center">{{ message }}</span>

        <re-captcha
          (resolved)="handleCaptcha($event)"
          siteKey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI"
          class="my-4"
        >
        </re-captcha>

        <button
          mat-stroked-button
          type="submit"
          class="w-1/3"
          (click)="login(loginEmail.value, loginSenha.value)"
          [disabled]="isLoading || captchaToken == null"
        >
          Entrar
        </button>

        <button mat-button class="mt-5" (click)="changeView()">Cadastro</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>

<div *ngIf="!viewLogin" class="flex mt-9 justify-center content-center">
  <mat-card class="place-self-center self-center">
    <mat-card-content>
      <form class="flex flex-col items-center">
        <div class="mb-3 text-xl font-medium">Cadastro</div>

        <mat-form-field class="w-96" color="warn">
          <mat-label>Nome</mat-label>
          <input matInput #cadastroNome />
        </mat-form-field>

        <mat-form-field class="w-96" color="warn">
          <mat-label>E-mail</mat-label>
          <input
            matInput
            #cadastroEmail
            placeholder="exemplo@email.com"
            (input)="validateEmail(cadastroEmail.value)"
          />
        </mat-form-field>
        <div *ngIf="emailInvalido" class="text-xs text-red-500 mb-2 h-4">
          <span>Digite um e-mail válido.</span>
        </div>

        <mat-form-field class="w-96" color="warn">
          <mat-label>Telefone</mat-label>
          <input
            matInput
            #cadastroTelefone
            placeholder="(00)00000-0000"
            maxlength="14"
            [value]="telefone"
            (input)="onTelefoneInput($event)"
            (keypress)="permitirApenasNumeros($event)"
          />
        </mat-form-field>
        <div *ngIf="telefoneInvalido" class="text-xs text-red-500 mb-2 h-4">
          <span>Digite um telefone válido no formato (xx)xxxxx-xxxx</span>
        </div>

        <mat-form-field class="w-96" color="warn">
          <mat-label>Senha</mat-label>
          <input
            matInput
            type="password"
            #cadastroSenha
            (input)="
              checkSenhas(cadastroSenha.value, confirmarSenha.value);
              validatePassword(cadastroSenha.value)
            "
          />
        </mat-form-field>
        <div *ngIf="senhaInvalida" class="text-xs text-red-500 mb-6 h-4 w-96">
          <span
            >A senha deve conter ao menos 8 caracteres, incluindo letras
            maiúsculas, minúsculas, número e caractere especial.</span
          >
        </div>

        <mat-form-field class="w-96" color="warn">
          <mat-label>Confirmar Senha</mat-label>
          <input
            matInput
            type="password"
            #confirmarSenha
            (input)="checkSenhas(cadastroSenha.value, confirmarSenha.value)"
          />
        </mat-form-field>
        <div *ngIf="senhasDiferentes" class="text-xs text-red-500 mb-2 h-4">
          <span>As senhas não coincidem.</span>
        </div>

        <span class="self-center">{{ message }}</span>

        <re-captcha
          (resolved)="handleCaptcha($event)"
          siteKey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI"
          class="my-4"
        >
        </re-captcha>

        <button
          mat-stroked-button
          type="submit"
          class="w-1/3"
          (click)="
            cadastro(
              cadastroNome.value,
              cadastroEmail.value,
              cadastroSenha.value
            )
          "
          [disabled]="
            isLoading ||
            !isFormValid(
              cadastroNome.value,
              cadastroEmail.value,
              cadastroSenha.value
            )
          "
        >
          Cadastrar
        </button>

        <button mat-button class="mt-5" (click)="changeView()">Login</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
